[metadata]
name = "dirs"
description = "A channel to select from directories"
requirements = ["fd"]

[source]
command = ["fd -t d", "fd -t d --hidden"]

[preview]
command = "ls -la --color=always '{}'"

[keybindings]
shortcut = "f2"
enter = "actions:print_path"

[actions.print_path]
description = "Print the selected path to stdout"
command = "echo '{}'"
mode = "execute"
