# Fastfetch Greeting
set fish_greeting

# Shared shell aliases/env vars from chezmoi data
test -f ~/.config/shared/shell-core.fish; and source ~/.config/shared/shell-core.fish

test -f ~/.config/fish/secrets.fish; and source ~/.config/fish/secrets.fish

if status is-interactive
    ##### Inits #####

    # Television
    if command -q tv
        tv init fish | source
    end

    # Starship
    if command -q starship
        starship init fish | source
    end

    # Zoxide
    if command -q zoxide
        zoxide init fish | source
    end

    # Atuin
    if command -q atuin
        atuin init fish --disable-up-arrow | source
    end

    # Carapace
    if command -q carapace
        set -Ux CARAPACE_BRIDGES 'zsh,fish,bash,inshellisense' # optional
        set -gx CARAPACE_EXCLUDES paru
        carapace _carapace | source
    end

    # fzf
    if command -q fzf
        fzf --fish | FZF_CTRL_R_COMMAND= FZF_CTRL_T_COMMAND= source
    end

    #Aliases
    alias pamcan pacman
    alias codex "codex --dangerously-bypass-approvals-and-sandbox"
    alias claude "claude --dangerously-skip-permissions"

    # dc for television fuzzy finding through .config/ files
    alias dc cd
    # fuzzy attach zellij via television
    alias zel 'zellij attach $(zellij ls -s | tv)'

    # back aliases
    alias .. 'cd ..'
    alias ... 'cd ../..'
    alias .... 'cd ../../..'
    alias ..... 'cd ../../../..'
    alias ...... 'cd ../../../../..'

    # Grep aliases
    alias dir 'dir --color=auto'
    alias vdir 'vdir --color=auto'
    alias grep 'grep --color=auto'
    alias fgrep 'fgrep --color=auto'
    alias egrep 'egrep --color=auto'

    alias gitpkg 'pacman -Q | grep -i "\-git" | wc -l' # count git packages

    # Get the error messages from journalctl
    alias jctl "journalctl -p 3 -xb"

    # Recent installed packages
    alias rip "expac --timefmt='%Y-%m-%d %T' '%l\t%n %v' | sort | tail -200 | nl"

    # Yazi Shell Wrapper
    function y
        set tmp (mktemp -t "yazi-cwd.XXXXXX")
        yazi $argv --cwd-file="$tmp"
        if read -z cwd <"$tmp"; and [ -n "$cwd" ]; and [ "$cwd" != "$PWD" ]
            builtin cd -- "$cwd"
        end
        rm -f -- "$tmp"
    end

    # Variables
    set -g fish_key_bindings fish_vi_key_bindings
end
