[Service]
ExecStart=
Environment=XCURSOR_THEME=BreezeX-RosePine-Linux
Environment=XCURSOR_SIZE=24
{{ if eq .chezmoi.hostname "aeolus" -}}
ExecStart=/usr/bin/niri --session -- %h/.local/bin/portal-session-refresh
{{ else -}}
ExecStart=niri --session -- %h/.local/bin/portal-session-refresh
{{ end -}}
