[Service]
ExecStart=
{{ if eq .chezmoi.hostname "aeolus" -}}
ExecStart=%h/.local/share/cargo/bin/niri --session -- %h/.local/bin/portal-session-refresh
{{ else -}}
ExecStart=niri --session -- %h/.local/bin/portal-session-refresh
{{ end -}}
